@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

/* globals.css o carousel.css */
.mt-20 {
    margin-top: 5rem !important; /* Forzar el margen superior a 5rem */
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .grid-cols-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  
  .object-cover {
    object-fit: cover;
  }
  
  .flex {
    display: flex;
  }
  
  .space-x-4 > * + * {
    margin-left: 1rem;
  }
  
  .mt-4 {
    margin-top: 1rem;
  }
  
  .mb-4 {
    margin-bottom: 1rem;
  }